header {
  text-align: center;

}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  width: 700px;
  margin-left: 3.5in;
  margin-right: 3in;

}

div {
float: left;
text-align: center;
background-color: red;
max-width: 25%;
max-height: 25%;
padding-left: 96px;
padding-right: 96px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
